.DS_Store
Thumbs.db

# Logs
logs
*.log

# Env
.env
.env.*

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build
build/
dist/
out/
.tmp/
.cache/

# Coverage
coverage/

# IDE
.vscode/
.idea/

# OS
*.swp
*.swo
